@import url('https://fonts.googleapis.com/css?family=Barlow');

html {
	font-family: "Barlow", sans-serif;
}

body {
	padding: 0;
}

.metadata {
	color: #767f85;
}

.container {
	max-width: 750px;
}

.body-content {
	margin-left: auto;
	margin-right: auto;
	position: relative;
}